* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: rgb(0, 0, 33);
      color: white;
      font-family: 'Poppins', sans-serif;
    }

    .nav {
      display: flex;
      justify-content: space-around;
      gap: 10px !important;
      align-items: center;
      background-color: rgb(18, 18, 62);
      /* width: 2000vw; */
    }

    .nav ul {
      display: flex;
      list-style-type: none;
      justify-content: center;
    }

    .nav ul li {
      margin: 0 23px;
    }

    .left {
      font-size: 1.5rem;
    }

    .firstSection {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 80px 0;
    }

    .firstSection>div {
      width: 30%;
    }

    .leftSection {
      font-size: 3rem;
      /* margin: 70px 0; */
    }

    /* .rightSection{
        
      } */

    .purple {
      color: blueviolet;
    }

    #element {
      color: blueviolet;

    }



    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      text-decoration: none;
      color: rgb(98, 98, 221);
      font-size: 1.01rem;
    }

    .leftSection span {
      width: 100%;
    }

    .secondSection {
      margin: auto;
      max-width: 80vw;
      margin-top: 40px;
      height: 80vh;
    }

    main hr {
      border: 0px;
      background-color: rgb(98, 98, 221);
      height: 1px;
      width: 90%;
      margin: 60px 84px;
    }

    .secondSection h1 {
      font-size: 1.9rem;
    }

    .grey {
      color: grey;
      font-size: 1.2rem;
    }

    .secondSection .box {
      background-color: white;
      width: 80vw;
      margin: 76px 0px;
      height: 2px;
      display: flex;
    }

    .secondSection .vertical {
      height: 93px;
      width: 1px;
      background-color: white;
      margin: 0px 150px;
    }

    .image-top {
      width: 40px;
      position: relative;
      top: -56px;
      left: -15px;
    }

    .vertical-title {
      position: relative;
      top: 50px;
      width: 150px;
    }

    .vertical-desc {
      position: relative;
      top: 70px;
      width: 150px;
      color: grey;
      font-size: 11px;
    }

    #node {
      width: 120px;
      position: relative;
      top: -64px;
      left: -21px;
    }

    .box :nth-child(2) .vertical-title {
      position: relative;
      top: 25px;
    }

    .box :nth-child(2) .vertical-desc {
      position: relative;
      top: 45px;
    }

    #gd {
      width: 75px;
    }

    #free {
      position: relative;
      width: 58px;
    }

    footer {
      background-color: rgb(4 4 45);
      /* height: 233px; */
    }

    .footer {
      display: flex;
      padding: 23px 122px;
      justify-content: space-evenly;
    }

    .footer ul {
      list-style-type: none;
    }

    .footer>div {
      width: 200px;
    }

    footer .footer-rights {
      text-align: center;
      padding: 12px 0px;
    }

    .firstSection .buttons {
      display: flex;
      gap: 18px;
      margin: 20px 0px;
    }

    .buttons :nth-child(1) {
      height: 44px;
      width: 180px;
      border-radius: 23px;
      background-color: blueviolet;
      color: white;
      font-weight: 700;
    }


    .buttons :nth-child(2) {
      height: 44px;
      width: 180px;
      border-radius: 23px;
      background-color: white;
      color: blueviolet;
      font-weight: 700;
    }

    /* media queries */

    @media screen and (max-width: 450px) {
      html,body{
        height: 100%;
        justify-content: center;
        align-items: center;
      }
      .firstSection{
        flex-direction: column-reverse;
      }


      .nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 128vw !important;
        justify-content: space-evenly;
        margin: 0px -40px;
        /* width: 00px; */
        height: auto;
        /* background-color:aquamarine; */
        width: auto;
      
      }

      .nav .left{
        padding: 10px;
        /* background-color: red; */
        width: 100%;
        align-items: center;
        text-align: center;
        font-size: 2.5rem;
      }

      .nav .right{
        /* display: none; */
        margin-right: 10px;

      }

      .nav .right ul{
        display: flex;
        margin-left: 70px;
        ;
      }

      .firstSection>div {
        width: 80%;
      }

      .box{
        display: flex;
        flex-direction: column;
        width: 120vw;
      }

      footer{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        margin-top:50vh;
        width: 55vh;
        justify-content: space-evenly;
      }

      .footer{
        display: flex;
        padding: 23px 30px;
        justify-content: space-evenly;
        gap: 50px !important;
      }


      .secondSection .vertical{
        height: unset;
      }

      .vertical .vertical-title{
        left: 30px;
      }
      .vertical .vertical-desc{
        left: 30px;
      }

       .vertical img{
        left: 30px;
       }
       #html{
        position: relative;
        left: -65px;
        top: 100px;
       }

       #node{
        position: relative;
        top: 90px;
        left: -130px;
       }

       #gd{
        position: relative;
        top: 100px;
        left: -110px;
       }

       #free{
        position: relative;
        top: 100px;
        left: -90px;
       }      
    }

    /* 01 / 06 */